.card {
    margin-top: 50px;
}
  
h1 {
    width: auto;
    color: #FFFDD0;
    vertical-align: middle;
    font-size: 4rem;
    font-weight: bolder;
    margin-top: 2vw;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
}
  
.welcome-message {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

table {
    color: #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    text-align: center;
}
  
th, td {
    padding: 20px; 
}
  
h2 {
    color: #FFFFFF;
    margin-left: 30px;
}

.logout[type=button] {
    display: block;
      cursor: pointer;
      margin: auto;
      width: 20%;
      height: 3rem;
      padding: 5px;
      border-radius: 20px;
      box-sizing: border-box;
      border: 1px solid #232232;
      background-color: #4A3E34;
      font-size: x-large;
      font-weight: bold;
      color: #FFFDD0;
}

.logout:hover {
    background-color: #232232
}

.save-contact-button {
    width: 20%;
}

button[type=button] {
    display: block;
    cursor: pointer;
    margin: auto;
    width: auto;
    height: 3rem;
    padding: 5px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 1px solid #232232;
    background-color: #4A3E34;
    font-size: x-large;
    font-weight: bold;
    color: #FFFDD0;
}

.button-row {
    display: flex;
}

.secondary-button {
    display: none;
}

.contact-results {
    margin-top: 50px;
    text-align: center;
}

.small-button {
    width: 50%;
    height: 20%;
}

.status-message {
    color: #FFFFFF;
    text-align: center;
}

.tr {
    display: block;
    background-color: #FFFDD0;
    color: #232232;
    margin: 1vw auto 1vw auto;
    width: 95%;
    height: 3rem;
    padding: 5px;
    border-radius: 30px;
    box-sizing: border-box;
    border: 1px solid black;
    font-size: large;
    padding-left: 15px;
}