.card {
    margin-top: 50px;
}
  
header {
    max-width: 50rem;
    height: 100%;
    margin: auto;
    border-radius: 30px;
    padding: 2rem;
    background-color: #34354A;
    box-shadow: 0 0 15px 15px rgba(0, 0, 0, .4);
}
  
h1 {
    width: auto;
    color: #FFFDD0;
    vertical-align: middle;
    font-size: 4rem;
    font-weight: bolder;
    margin-top: 2vw;
    margin-bottom: 0;
    white-space: nowrap;
    text-align: center;
}
  
.welcome-message {
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}

.table-wrapper {
    color: #FFFFFF;
}
  
th, td {
    padding: 20px; 
}
  
h2 {
    color: #FFFFFF;
    margin-left: 30px;
}

.logout[type=button] {
    display: block;
      cursor: pointer;
      margin: auto;
      width: 20%;
      height: 3rem;
      padding: 5px;
      border-radius: 20px;
      box-sizing: border-box;
      border: 1px solid #232232;
      background-color: #4A3E34;
      font-size: x-large;
      font-weight: bold;
      color: #FFFDD0;
}

.logout:hover {
    background-color: #232232
}